<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css"><!--limpa as config padrao do navegador-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Funcionarios</title>
</head>
<body style="color: white;background-color: #1d2630; ">
  <div class="container mt-5">
    <div class="text-center">
      <h1><str>Editar Emprestimo</str></h1>
    </div>
    <div class="main row justify-content-center">
      <form action="http://localhost:3000/loan/update/" method="post" class="row g-3" autocomplete="off">

        <div class="col-md-3">
          <label for="cpfCliente">CPF do Cliente:</label><br>
          <input type="text" id="cpfCliente" name="cpfCliente" placeholder="Ex: 12345678910" class="form-control" value = <%= row.cpfcliente %> ><br>
        </div>

        <div class="col-md-3">
          <label for="cpfFuncionario">CPF do Funcionário:</label><br>
          <input type="text" id="cpfFuncionario" name="cpfFuncionario" placeholder="Ex: 12345678910" class="form-control" value = <%= row.cpffuncionario %> ><br>
        </div>

        <div class="col-md-6">
          <label for="nomeLivro">Nome do Livro:</label><br>
          <input type="text" id="nomeLivro" name="nomeLivro" placeholder="Ex: O Senhor dos Aneis" class="form-control" value="<%= row.nomelivro %>" size="<%= row.nomelivro.length %>"><br>
        </div>

        <div class="col-3">
          <label for="dataEmprestimo">Data de empréstimo:</label><br>
          <input type="date" id="dataEmprestimo" name="dataEmprestimo" placeholder="11/11/2001" class="form-control" value = <%= row.dataemprestimo.toLocaleDateString().split('/').reverse().join('-') %> ><br><br>
        </div>

        <div class="col-3">
          <label for="dataDevolucao">Data de devolução:</label><br>
          <input type="hidden" name="tipo" value='update'>
          <input type="hidden" name="id" value=<%= row.id %>>
          <input type="date" id="dataDevolucao" name="dataDevolucao" placeholder="11/11/2001" class="form-control" value = <%= row.datadevolucao.toLocaleDateString().split('/').reverse().join('-') %> ><br><br>
        </div>

        <div class="col-10">
          <input class="btn btn-success add-btn" type="submit" value="Salvar Alterações">
          <input class="btn btn-secondary" type="reset" value="Limpar">
        </div>
      </form>
    </div>
  </div>
  <script src="script.js"></script>
</body>
</html>
